.hero-detail {

}

.hero-detail-img-wrap {
  height: 450px;

  overflow: hidden;
}

.hero-detail-description {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	font-weight: bold;
}

.hero-detail-longtitle {
	font-size: 20px;

	margin-bottom: 60px;

	transition: 0.5s linear all;
}

.hero-detail-character-wrap {
	display: flex;
	justify-content: space-between;
}

.hero-detail-character-list {
	max-width: 600px;
	width: 100%;
}

.hero-detail-character-field {
	display: flex;
	justify-content: space-between;

	margin-top: 30px;

	text-align: right;
}

.hero-detail-character-field > span {
	max-width: 65%;
}

.hero-detail-character-type {
	font-weight: bold;

	max-width: 35%;
}

.link-back {
	position: absolute;
	top: 0;
	right: 0;

	padding: 10px;
	
	font-weight: bold;
	color: blue;
	font-size: 24px;
	text-transform: uppercase;
}

.hero-detail-longtitle.ng-hide {
  opacity: 0;
}
